@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nexa', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100vh !important;
  z-index: 1;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  font-family: 'Nexa', sans-serif;
}

.leaflet-popup-content {
  margin: 0;
  font-family: 'Nexa', sans-serif;
}

.leaflet-popup-close-button {
  color: #4b5563;
}